@model IEnumerable<Entity.Inmobiliario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreInmobiliario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionInmobiliario)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.tipoInmobiliario.NombreTipoInmobiliario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInmobiliario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionInmobiliario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.tipoInmobiliario.NombreTipoInmobiliario)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InmobiliarioId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InmobiliarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InmobiliarioId })
        </td>*@
    </tr>
}

</table>
